.group:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #0899FF;
}

.underline {
  align-items: center;
  border-bottom: 1px solid #dadde1;
  display: flex;
  width: 90%;
  margin: 20px 16px;
  text-align: center;
}
.register{
width: 180px;
height: 46px;
margin-top: 5px;
background-color: #42B72A;
font-size: large;
color: #FFFFFF;
display: flex;
text-align: center;
align-items: center;
justify-content: center;
font-weight: 600;
border-radius: 5px;
}

.google{
cursor: pointer;
display: flex;
width: 220px;
height: 46px;
margin-top: 5px;
background-color: #979e96 ;
box-shadow: black;
font-size: large;
color: #FFFFFF;
text-align: center;
align-items: center;
justify-content: center;
font-weight: 600;
border-radius: 5px;
}


.css-i4bv87-MuiSvgIcon-root{
width: 15px !important;
  height: 15px !important;
}