
.carousel-container-product {

  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item-product {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
}
