/* Test.css */

.form-group {
    width: 300px; /* Đặt chiều rộng tùy ý */
    max-height: 100px; /* Đặt chiều cao tối đa tùy ý */
    ; /* Loại bỏ thanh cuộn khi nội dung vượt quá kích thước container */
    padding: 10px; /* Thêm padding cho đẹp */
    resize: none;
  }
  
  .form-control {
    width: 100%; /* Đảm bảo rằng textarea chiếm toàn bộ chiều rộng của .form-group */
    box-sizing: border-box; /* Đảm bảo rằng padding và border không làm thay đổi kích thước tổng cộng */
    resize: none;
  }
  